.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 83%;
  margin: 0 auto;
}

.largeCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
}

.smallCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
}

.error {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .largeCards,
  .smallCards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
